{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td class="text-start">{{ stock["Symbol"] }}</td>
                    <td class="text-start">{{ stock["Name"] }}</td>
                    <td class="text-end">{{ stock["Shares"] }}</td>
                    <td class="text-end">{{ usd(stock["Price"]) }}</td>
                    <td class="text-end">{{ usd(stock["TOTAL"]) }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 w-bold text-end">{{ usd(available) }}</td>
            </tr>

            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ usd(overall) }}</td>
            </tr>
        </tfoot>
    </table>
    <section>
        <form action="/" method="POST">
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" autocomplete="off" autofocus="" name="add" placeholder="Add cash" type="number" step="0.01">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Add</button>
            </div>
        </form>
    </section>

{% endblock %}
